@font-face {
  font-family: 'iconfont';  /* project id 2370833 */
  src: url('https://at.alicdn.com/t/font_2370833_agy7t5dpe1a.eot');
  src: url('https://at.alicdn.com/t/font_2370833_agy7t5dpe1a.eot?#iefix') format('embedded-opentype'),
  url('https://at.alicdn.com/t/font_2370833_agy7t5dpe1a.woff2') format('woff2'),
  url('https://at.alicdn.com/t/font_2370833_agy7t5dpe1a.woff') format('woff'),
  url('https://at.alicdn.com/t/font_2370833_agy7t5dpe1a.ttf') format('truetype'),
  url('https://at.alicdn.com/t/font_2370833_agy7t5dpe1a.svg#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-redupaixu:before {
  content: "\e64a";
}

.icon-ziyuan:before {
  content: "\e620";
}

.icon-fenlei:before {
  content: "\e621";
}

.icon-zan:before {
  content: "\e600";
}

.icon-fanhui:before {
  content: "\e641";
}

.icon-jianyi:before {
  content: "\e607";
}

.icon-wodehaoyou:before {
  content: "\e671";
}

.icon-xianghujiaohuan:before {
  content: "\e8f8";
}

.icon-yunyingpan:before {
  content: "\e7ae";
}

.icon-lipin:before {
  content: "\e633";
}

.icon-guanyu:before {
  content: "\e626";
}

.icon-youxi-:before {
  content: "\edcb";
}

.icon-youxi-1:before {
  content: "\edd9";
}

.icon-ziyuanjk:before {
  content: "\e672";
}

.icon-shezhi:before {
  content: "\e615";
}

.icon-shangchuan:before {
  content: "\e635";
}

.icon-icon-test:before {
  content: "\e608";
}

.icon-youxi1:before {
  content: "\eeb7";
}

.icon-fenxiang:before {
  content: "\e6d1";
}

.icon-shouc:before {
  content: "\e603";
}

.icon-wode1:before {
  content: "\e62f";
}

.icon-xiaoliansmiley40:before {
  content: "\e772";
}

.icon-xiaolian:before {
  content: "\e75a";
}

.icon-sousuo:before {
  content: "\e632";
}

.icon-shouji:before {
  content: "\e602";
}

.icon-lingdang:before {
  content: "\e623";
}

.icon-shuaxin:before {
  content: "\e680";
}

.icon-icon_duizhan:before {
  content: "\e605";
}

.icon-xinbaniconshangchuan-:before {
  content: "\e612";
}

.icon-wode:before {
  content: "\e60b";
}

.icon-wujiaoxing:before {
  content: "\e712";
}

.icon-shuaxin1:before {
  content: "\e750";
}

.icon-biaoqiankuozhan_paihang-389:before {
  content: "\ebf6";
}

.icon-youxi:before {
  content: "\e609";
}

